<ion-header>
  <ion-toolbar>
    <ion-title>Choisissez vos ingrédients</ion-title>
      <ion-buttons slot="end">
          <ion-button (click)="closeModalWithoutUpdate()">
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding style="text-align: center;">
  <ion-text>
    <ul class="ingredientList">
      <li *ngFor="let ingredient of ingredients" (click)="chooseIngredient()" [attr.data-unite]="ingredient.unite" [attr.data-id]="ingredient.id" [ngClass]="{'active': isActive(ingredient.id)}">{{ ingredient.nom }}</li>
    </ul>
  </ion-text>
  <ion-button (click)="closeModal()">Valider</ion-button>
</ion-content>
