<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Recettes</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
 
  <ion-segment [(ngModel)]="selectedView">
    <ion-segment-button value="recettes">
      <ion-label>Recette</ion-label>
    </ion-segment-button>
  </ion-segment>
 
  <div [ngSwitch]="selectedView">
    <div *ngSwitchCase="'recettes'">
      <ion-item>
        <ion-label position="stacked">Nom de la recette ?</ion-label>
        <ion-input [(ngModel)]="recette.nom" placeholder="Nom Recette"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Pour combien de personnes ?</ion-label>
        <ion-input [(ngModel)]="recette.nbPers" placeholder="Nombre personnes"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Source</ion-label>
        <ion-input [(ngModel)]="recette.source" placeholder="Source"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Page :</ion-label>
        <ion-input [(ngModel)]="recette.page" placeholder="Page"></ion-input>
      </ion-item>
      <ion-button expand="block" (click)="addRecette()">Ajouter la recette</ion-button>
 
      <ion-list>
        <ion-item button *ngFor="let recette of recettes" [routerLink]="['/', 'recettes', recette.id]">
          <ion-label>
            <h2>{{ recette.nom }}</h2>
            <p>Pour {{ recette.nbPers }} personne(s)</p>
            <p>{{ recette.source }}, {{ recette.page }}  </p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
 
  </div>
 
</ion-content>