.toolbar-title-default {
    --background: none;
    background-image: url("/assets/background3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -75px;
    height: 200px;

    .title-md {
        height: 200px;
        color: #ffffff;
        font-size: 34px;
        font-weight: bolder;
        text-shadow: 4px 3px 0px #2b2b2b;
    }
}

.itemBloc {
    width: 100%;
    border: 2px solid #f1f1f1;
    margin-top: 15px;

    .itemInfo {
        padding: 0 15px 0 15px;
    
        ul {
            list-style: none;
            display: inline-flex;
            width: 100%;
            padding-left: 0;

            .exportIcon {
                margin-left: 0;
                //margin-right: 140px;
            }
    
            li {
                margin-left: 20px;
    
                /*ion-icon {
                    box-shadow: 0px 0px 8px -3px #a9a9a9;
                    border-radius: 8px;
                    border: 1px solid #efefef;
                    padding: 4px;
                }*/
    
                ion-icon[name=create] {
                    color: #4e81de;
                }
    
                ion-icon[name=nutrition] {
                    color: #ffb86e;
                }
    
                ion-icon[name=information-circle] {
                    color: #c5c5c5;
                }
            }
        }
    }

    
}