.ingredientList {
    list-style: none;
    float: left;
    width: 45%;
    height: 150px;
    max-height: 150px;
    box-shadow: 1px 1px 3px 0px #828282;
    margin-left: 14px;
    text-align: center;
    padding: 0 5px;
    margin-bottom: 20px;
    color: #667be2;
    font-weight: 600;
    position: relative;

    .itemBloc {

        .itemInfo {
            height: 135px;
        }

        p {
            color: rgb(179, 179, 179);
        }

        span {

            margin-top: 10px;

            ion-icon[name=create] {
                position: absolute;
                left: 10px;
                bottom: 10px;
                font-size: 30px;
            }

            ion-icon[name=trash] {
                position: absolute;
                right: 10px;
                bottom: 10px;
                font-size: 30px;
            }
        }
    }
}