.items-list {
    padding-top: 25px;
}

.ingredientList {
    --background: none;
    background-image: url("/assets/items.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    list-style: none;
    float: left;
    width: 45%;
    height: 150px;
    max-height: 150px;
    box-shadow: 1px 1px 3px 0px #828282;
    border-radius: 50px;
    margin-left: 14px;
    text-align: center;
    padding: 0 5px;
    margin-bottom: 20px;
    font-weight: 600;
    position: relative;

    .itemBloc {

        .itemInfo {
            height: 150px;
            margin-top: 25%;
        }

        p {
            color: rgb(0, 0, 0);
            text-shadow: 1px 1px 2px white;
        }

        span {

            margin-top: 10px;

            ion-icon[name=create] {
                position: absolute;
                left: 10px;
                bottom: 10px;
                font-size: 30px;
            }

            ion-icon[name=trash] {
                position: absolute;
                right: 10px;
                bottom: 10px;
                font-size: 30px;
            }
        }
    }
}

ion-select {
    padding-left: 0px;
}

.addBloc {
    text-align: center;

    .button {
        margin: 20px auto 5px auto;
        font-size: 85%;
        font-weight: bold;
    }

    .btnSave {
        margin: 5% auto auto auto;
        --background: #3cd67c;
        color: #ffffff;
        width: 80%;
        height: 40px;
    }
}