<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="recettes"></ion-back-button>
    </ion-buttons>
    <ion-title>Recette</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="delete()">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
  <div *ngIf="recette">
    <ion-item>
      <ion-label position="stacked">Quelle est la recette ?</ion-label>
      <ion-input [(ngModel)]="recette.nom" placeholder="Nom Recette"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Pour combien de personnes ?</ion-label>
      <ion-input [(ngModel)]="recette.nbPers" placeholder="Nombre personnes"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Quelle est la source ?</ion-label>
      <ion-input [(ngModel)]="recette.source" placeholder="Source"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Quelle est la page ?</ion-label>
      <ion-input [(ngModel)]="recette.page" placeholder="Page"></ion-input>
    </ion-item>
    <ion-button expand="block" (click)="updateRecette()">Modifier la recette</ion-button>
  </div>
</ion-content>