.toolbar-title-default {
    --background: none;
    background-image: url("/assets/background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;

    .title-md {
        height: 200px;
        color: #ffffff;
        font-size: 34px;
        font-weight: bolder;
        text-shadow: 4px 3px 0px #2b2b2b;
        font-family: "Zilla Slab Highlight", cursive;
    }
}

.addBloc {
    text-align: center;
    font-size: 14px;
    margin-top: 0;

    .button {
        margin: 20px auto 5px auto;
        font-size: 15px;
        font-weight: bold;
    }

    .btnAdd {
        --background: #ff627e;
        color: #ffffff;
        width: 300px;
        height: 60px;
    }

    .btnSave {
        --background: #a2a4ab;
        color: #ffffff;
        width: 250px;
        height: 40px;
    }

    .btnExport {
        --background: #6ac17d;
        color: #ffffff;
        width: 250px;
        height: 40px;
    }
}