<ion-header>
  <ion-toolbar>
    <ion-title>Créer une recette</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    
          <ion-item>
            <ion-input [(ngModel)]="recette.nom" placeholder="Nom de recette"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input [(ngModel)]="recette.nbPers" placeholder="Nombre de personnes"></ion-input>
          </ion-item>
          <ion-item>

            <ion-input [(ngModel)]="recette.source" placeholder="Source"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input [(ngModel)]="recette.page" placeholder="Page"></ion-input>
          </ion-item>

            <ion-item class="addBloc" lines="none">
                <ion-button class="btnAdd" (click)="openModalWithData()">Ajouter des ingrédients</ion-button>
            </ion-item>
    <ion-item class="addBloc" lines="none">
      <ion-label>{{ ingredientToShow?.length }} ingrédient(s) ajouté(s)</ion-label>
    </ion-item>

    <ion-text>
      <ul class="ingredientSelected">
        <li *ngFor="let item of ingredientToShow; let i = index">{{ item.name }} <input placeholder="10" [(ngModel)]="qtes[i]"> {{ item.unite }}</li>
      </ul>
    </ion-text>
    <ion-item class="addBloc" lines="none">
      <ion-button class="btnExport">Exporter sur Excel</ion-button>
    </ion-item>

          <ion-item class="addBloc" lines="none">
              <ion-button class="btnSave" (click)="addRecette()">Enregistrer</ion-button>
          </ion-item>     

</ion-content>

<ion-footer>
  <ion-toolbar>
      <ion-item class="footerLeft" routerLink="" lines="none">
        <ion-icon name="home"></ion-icon>
      </ion-item>

      <ion-item class="footerRight" routerLink="/search-part" lines="none">
          <ion-icon name="search"></ion-icon>
      </ion-item>
  </ion-toolbar>
</ion-footer>