<ion-header>
  <ion-toolbar>
    <ion-title>Créer une recette</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
      <ion-input placeholder="Nom de recette"></ion-input>
    </ion-item>

    <ion-item>
        <ion-button class="btnAdd">Ajouter des ingrédients</ion-button>
        <ion-label>0 ingrédient(s) ajouté(s)</ion-label>
    </ion-item>

    <ion-item>
      <ion-input placeholder="Origine"></ion-input>
    </ion-item>

    <ion-item>
        <ion-button class="btnAdd">Enregistrer</ion-button>
        <ion-button class="btnAdd">Exporter sur Excel</ion-button>
    </ion-item>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-item class="footerLeft" routerLink="">
          <ion-label>
            Accueil
          </ion-label>
        </ion-item>

        <ion-item class="footerRight" routerLink="/search-part">
            <ion-label>
              Recherche
            </ion-label>
          </ion-item>
    </ion-toolbar>
</ion-footer>