.home-background {
    --background: none;
    background-image: url("/assets/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.btnNav {
    transform: translateY(28%);
    text-align: center;
}

.btnCreate, .btnChose, .btnSee {
    font-size: 18px;
    width: 300px;
    height: 60px;
    margin-bottom: 120px;
    color: #000000;
    --background: #ffffff7a;
    box-shadow: 0px 0px 4px 1px #989898;
    border-radius: 100px;
}

ion-header {
    text-align: center;
}

.footerLeft {
    float: left;
}

.footerRight {
    float: right;
}