.home-background {
    --background: none;
    background-image: url("/assets/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.btnNav {
    transform: translateY(145px);
    text-align: center;
}

.btnCreate, .btnChose, .btnSee {
    font-size: 18px;
    width: 300px;
    height: 60px;
    margin-bottom: 90px;
    color: #ffffff;
    --background: #ffffff7a;
    border: 3px solid #ffffff;
    border-radius: 100px;
}

ion-header {
    text-align: center;
}

.footerLeft {
    float: left;
}

.footerRight {
    float: right;
}