<ion-header>
  <ion-toolbar>
    <ion-title>Choisir une recette</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none" *ngFor="let recette of recettes">
    <div class="receipeBloc" (click) = "goToRecipePage(recette.id)">
        <div class="receipePic" >
          <img src='assets/recette_1.jpg'>
        </div>
        <div class="receipeInfo">
          <p class="receipeName">{{recette.nom}}</p>
          <p class="receipePeople">{{recette.nbPers}} personne(s)</p>
          <p class="receipeIngredient">{{recette.nbIngr}} ingrédient(s)</p>
          <p class="receipeSource">Source : {{recette.source}}, {{recette.page}}</p>
        </div>
    </div>
    <ion-button class="receipeSelect" [attr.data-info]="recette.id" (click)="onReceipeClick($event)">Séléctionner</ion-button>
  </ion-item>

  <ion-fab vertical="center" horizontal="end" slot="fixed">
    <ion-fab-button id="exportBtn" (click)="createPdf()">
      <ion-icon name="cloud-download"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-footer>
  <ion-toolbar>
      <ion-item class="footerLeft" routerLink="" lines="none">
        <ion-icon name="home"></ion-icon>
      </ion-item>

      <ion-item class="footerRight" routerLink="/search-part" lines="none">
        <ion-icon name="search"></ion-icon>
      </ion-item>
  </ion-toolbar>
</ion-footer>