@keyframes fadeIn {
    0% {
        position: absolute;
        --background: #4fce83;
        right: -100px;
        zoom: 1;
    }
    25%{
        zoom: 1.2;
    }
    50% {
        position: absolute;
        --background: #4fce83;
        right: -50px;
        zoom: 1.5;
    }
    75% {
        zoom: 1.2;
    }
    100% {
        position: absolute;
        --background: #4fce83;
        right: 0px;
        zoom: 1;
    }
}


.toolbar-title-default {
    --background: none;
    background-image: url("/assets/background3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -75px;
    height: 200px;

    .title-md {
        height: 200px;
        color: #ffffff;
        font-size: 34px;
        font-weight: bolder;
        text-shadow: 4px 3px 0px #2b2b2b;
        font-family: "Zilla Slab Highlight", cursive;
    }
}

.receipeBloc {
    width: 100%;
    border: 2px solid #f1f1f1;
    margin-top: 15px;
    margin-bottom: 15px;

    .receipePic {
        height: 200px;
        overflow: hidden;
    }

    .receipeInfo {
        padding: 0 15px 0 15px;
        border: 2px solid #d6d6d6;
        border-top: 0;
        height: 190px;

        .receipeName {
            font-family: 'Lobster', cursive;
            font-size: 20px;
            color: #ff6d6d;
            padding-top: 10px;
            margin: 0;
        }

        .receipePeople, .receipeIngredient {
            color: #bfbfbf;
            font-weight: 700;
            margin: 8px 0 0 0;
        }
    
        ul {
            list-style: none;
            display: inline-flex;
            width: 100%;
            padding-left: 0;
            margin: 20px 0 5px 0;

            .exportIcon {
                margin-left: 0;
                // margin-right: 210px;
            }
    
            li {
                margin-left: 20px;
    
                /*ion-icon {
                    box-shadow: 0px 0px 8px -3px #a9a9a9;
                    border-radius: 8px;
                    border: 1px solid #efefef;
                    padding: 4px;
                }*/
            }
        }
    }    
}

ion-item {
    position: relative;

    ion-button {
        z-index: 10;
        position: absolute;
        bottom: 30px;
        left: 0;
        right: 0;
        width: 40%;
        margin: 0 auto;
        height: 40px;
        font-size: 14px;

        .button-inner {
            --background-color: #9a9a9a;
            color: #ffffff;
        }
    }
}

ion-fab {

    #exportReady {
        position: absolute;
        width: 70px;
        height: 70px;
        right: 0;
        --background: #4fce83;
        animation: fadeIn .2s linear;

        ion-icon {
            color: #ffffff;
        }
    }
    
    #exportBtn {
        position: absolute;
        right: -100px;
        --background: #4fce83;
    }
}